body {
    background-color:#222222;
}
h1,h2 {
    color:white;
    text-align:center;
    text-shadow:1px 1px black;
}
h2 {
    border-bottom:solid black;
    text-align:left;
    margin-left:1vw;
    padding-left:2vw;
}